# Core dependencies
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.2
joblib==1.4.2
optree==0.11.0

# Deep Learning
tensorflow==2.15.0
keras==2.15.0

# Web frameworks
fastapi==0.111.0
uvicorn==0.30.1
requests==2.32.3
gunicorn==21.2.0

# Visualization (optional)
matplotlib==3.9.2
seaborn==0.13.2
