# Core dependencies
numpy==2.1.3
pandas==2.2.3
scikit-learn==1.5.2
joblib==1.4.2
optree==0.11.0

# Deep Learning
tensorflow==2.20.0rc0
keras==2.6.0

# Web frameworks
fastapi==0.115.0
uvicorn==0.32.0
requests==2.32.3
gunicorn==23.0.0

# Visualization (optional)
matplotlib==3.9.2
seaborn==0.13.2
